* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}

.article {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item img {
  display: block;
  margin: auto;
  width: 100%;
}
.slogan {
  font-size: 4vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFF36;
  text-align: center;
}
#shoe-3 .slogan {
  color: #006913;
}

/* BACKGROUND COLORS */
.background-red {
  background-color: #FF011A;
}
.background-green {
  background-color: #006913;
}

.background-yellow {
  background-color: #FFFF36;;
}

/* NAV SECTION */

header {
  width: 100%;
}
nav{
  position: fixed;
  top: 30px;
  right: 30px;
  height: 100%;
  z-index: 3;
}

nav ul {
display: block;
}
nav li {
  display: inline;  
  margin:0 15px;  
  width: 20px;
  
}

nav a {
  display: inline-block;
  width: 40px;
  height: 40px;;
  padding: 10px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  background-color: #fff;
}

nav a:active {
  background-color:grey;
  box-shadow: 1px 1px rgba(0,0,0,0.5);
}